<div class="container" style="background-color: rgb(50, 54, 59);">
  <div class="jumbotron text-center text-black" style="background-color: rgb(212, 74, 212);">
      <h1 class="display-6" id="app-title"> <img src="assets/images/burger.jpg" alt="">  Go Burger or Go Home!  <img src="assets/images/burger.jpg" alt=""></h1>
      <p style="color: white;">Zoom, Zoom, Zoom! My Supernova Burger!</p>
  </div>
  <div class="row mt-4">
    <div class="col-md-6 mt-4">
      <div class="card border border-primary">
        <div class="card-header bg-warning text-black">
          Delicious Burgers!
        </div>
        <!--Div to hold burgers that have not been devoured yet-->
        <div class="card-body">
          {{#each burgers}}
          {{#unless devoured}}
          {{> foods/food-block devoured=true}}
          {{/unless}}
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-4">
      <div class="card border border-success">
        <div class="card-header bg-success text-white">
          Devoured
        </div>
        <div class="card-body">
          {{#each burgers}}
          {{#if devoured}}
          {{> foods/food-block devoured=false}}
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <form class="create-form" style="text-align: center;">
    <div class="form-group" style="color: yellow;">
      {{!-- <label for="slee">
        <h5>Devoured?</h5>
      </label> --}}
      <br>
      {{!-- <input type="radio" name="devoured" value="1" checked>
      Yes
      <input type="radio" name="devoured" value="0">
      No --}}
      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="burger_name">
      </div>
      <button type="submit" class="btn btn-warning">Add Burger</button>
    </div>
    <br>
  </form>
</div>
