<div class="container" style="background-color: rgb(201, 93, 5);">
  <div class="jumbotron text-center text-black" style="background-color: rgb(54, 122, 65);">
      <h1 style="color: yellow;" class="display-6" id="app-title"> <img src="assets/images/burger2.jpg" alt="">  Go Burger or Go Home!  <img src="assets/images/burger.jpg" alt=""></h1>
      <p style="color: white;">Zoom, Zoom, Zoom! My Supernova Burger!</p>
      <div id="musicControls" class="text-center">
        <button class="btn btn-warning btn-xs theme-button">
          <span class="fa fa-music"></span> ~~Play Song!~~ </button>
          
        <button class="btn btn-primary btn-xs pause-button">
          <span class="fa fa-pause"></span> Pause Song </button>
      </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6 mt-4">
      <div class="card border border-primary">
        <div class="card-header" style="background-color: rgb(184, 71, 184); color: yellow">
          Burgers Awaiting To Be Devoured!
        </div>
        <!--Div to hold burgers that have not been devoured yet-->
        <div class="card-body">
          {{#each burgers}}
          {{#unless devoured}}
          {{> foods/food-block devoured=true}}
          {{/unless}}
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-4">
      <div class="card border border-success">
        <div class="card-header text-black" style="background-color: rgb(184, 71, 184); color: yellow">
          Burgers That Have Been Devoured!
        </div>
        <div class="card-body">
          {{#each burgers}}
          {{#if devoured}}
          {{> foods/food-block devoured=false}}
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <form class="create-form" style="text-align: center;">
    <div class="form-group" style="color: yellow;">
      <br>
      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="burger_name">
      </div>
      <button type="submit" class="btn btn-success">Add Burger</button>
    </div>
    <br>
  </form>
</div>
